@keyframes inShadow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes toShadow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
  animation-name: toShadow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; 
*/

@keyframes fromShadow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 
  animation-name: fromShadow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; 
*/